$background-color: $white-smoke;
$box-color: $white;
$box-shadow: 0 0 10px $white-smoke-darker;
$line-color: $white-smoke-darker;
$main-text-color: $manatee;
$secondary-text-color: $cerulean;
$accent-color: $tomato;
